##EXPLORATORY DATA ANALYSIS(EDA)

##1.CHECKING THE DATATYPES AND COLUMNS IN DATASET

In [ ]:
import pandas as pd
data=pd.read_csv('/content/ElectricCarData_Clean (1).csv')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Segment          103 non-null    object
 12  Seats            103 non-null    int64
 13  PriceEuro        103 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.4+ KB
None

##2.CHECKING WHETHER THE DATA HAS THE NULL VALUES AND THEIR COUNT

In [ ]:
print(data.isna())
print(data.isna().sum())

     Brand  Model  AccelSec  TopSpeed_KmH  Range_Km  Efficiency_WhKm  \
0    False  False     False         False     False            False
1    False  False     False         False     False            False
2    False  False     False         False     False            False
3    False  False     False         False     False            False
4    False  False     False         False     False            False
..     ...    ...       ...           ...       ...              ...
98   False  False     False         False     False            False
99   False  False     False         False     False            False
100  False  False     False         False     False            False
101  False  False     False         False     False            False
102  False  False     False         False     False            False

     FastCharge_KmH  RapidCharge  PowerTrain  PlugType  BodyStyle  Segment  \
0             False        False       False     False      False    False
1             False        False       False     False      False    False
2             False        False       False     False      False    False
3             False        False       False     False      False    False
4             False        False       False     False      False    False
..              ...          ...         ...       ...        ...      ...
98            False        False       False     False      False    False
99            False        False       False     False      False    False
100           False        False       False     False      False    False
101           False        False       False     False      False    False
102           False        False       False     False      False    False

     Seats  PriceEuro
0    False      False
1    False      False
2    False      False
3    False      False
4    False      False
..     ...        ...
98   False      False
99   False      False
100  False      False
101  False      False
102  False      False

[103 rows x 14 columns]
Brand              0
Model              0
AccelSec           0
TopSpeed_KmH       0
Range_Km           0
Efficiency_WhKm    0
FastCharge_KmH     0
RapidCharge        0
PowerTrain         0
PlugType           0
BodyStyle          0
Segment            0
Seats              0
PriceEuro          0
dtype: int64

##3.REMOVING THE NULL VALUES AND CHECKING THE COUNT AGAIN

In [ ]:
new_data = data.dropna(axis=1)
print(new_data.isna().sum())

Brand              0
Model              0
AccelSec           0
TopSpeed_KmH       0
Range_Km           0
Efficiency_WhKm    0
FastCharge_KmH     0
RapidCharge        0
PowerTrain         0
PlugType           0
BodyStyle          0
Segment            0
Seats              0
PriceEuro          0
dtype: int64

##4.CHECKING THE DUPLICATE ENTRIES

In [ ]:
print(new_data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
98     False
99     False
100    False
101    False
102    False
Length: 103, dtype: bool

##5.COUNTING FREQUENCY OF EACH UNIQUE VALUE

In [ ]:
print(data['Brand'].value_counts())

Brand
Tesla          13
Audi            9
Volkswagen      8
Nissan          8
Skoda           6
Porsche         5
Kia             5
Renault         5
BMW             4
Ford            4
Opel            3
Hyundai         3
Smart           3
Byton           3
Mercedes        3
Honda           2
Peugeot         2
Fiat            2
Volvo           1
MG              1
Lucid           1
Polestar        1
Mini            1
Mazda           1
Lexus           1
Aiways          1
Lightyear       1
SEAT            1
CUPRA           1
Jaguar          1
Citroen         1
DS              1
Sono            1
Name: count, dtype: int64